body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-repeat: no-repeat;
  background-size: 100%;
}

.headContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.navContain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FBFBFB;
}

.Logo {
  margin-top: 0px;
  margin-bottom: 55px;
  width: 220px;
}

.midHeader {
  margin-top: -20px;
  width: 100%;
}

.navBar {
  margin-bottom: 58px;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-evenly;
}

.navBar button {
  margin-bottom: 65px;

}

.lead{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.arrowDown{
  width: 4%;
  color:white;
  
}

.arrowDown:hover {
  align-self: flex-end;
  animation-duration: 2s;
  margin: 0 auto 0 auto;
  animation-iteration-count: infinite;

  transform-origin: bottom;
}
.bounce-5:hover {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-8px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

.myProjectsBtn{
  text-align: center;
  background-color: none;
  text-decoration: none;
  color:white;
}

.right {
  background-image: url('/src/img/Meteor.svg');
  display: flex;
}

.nav {
  justify-content: center;
}

.jumbotron {
 background-color: #8b8b8b86;
}

.SVGs {
  width: 3%;
}

.Slider {
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Playfair Display', serif;

}

.projectTitle {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.card {
  align-content: center;
  max-width: 340px;
  height: 450px;
  box-shadow: 2px black;
}

.card-image {
  align-items: center;
}

.btnProject {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.card-title {
  font-size: 24px;
}

.partTwo {
  background-image: url('./img/SPIRAL.PNG.png');
  background-repeat: repeat-x;
  background-position: center;
  background-position-y: center;
  height: 93vh;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  width:100%;
  align-self: center;
  
}

.btnProject{
  text-decoration: none;
  color: blue;
  font-style: bold;
  margin-top: 15px;
}

button.rec-dot{
  background-color: rgb(71, 71, 71);
  box-shadow: 0 0 1px 3px  hsla(0, 0%, 82%, 0.438);
  margin-top: 25px;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 .5px .5px rgba(97, 97, 97, 0.5);
}

.part3Container {
  background-image: url('./img//laptop.png');
  display: grid;
  height: 47vw;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


.cardAbout {
  max-width: 550px;
  max-height: 390px;
  margin-left: 70px;
  padding:0;
  vertical-align: middle;
}

.gitButton {
  background-color: rgb(223, 223, 223);
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.3s;
}

.gitButton:hover {
  background-color: rgba(128, 128, 128, 0.493);
}

.footer{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.title {
  font-size: 25px;
}

.divider{
  background-color: rgb(192, 192, 192);
  width: 50%;
  height: 2px;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: -webkit-center;
}
.footerLinks {
  width: 5%;
  margin: 10px;
}

@media only screen and (max-width:600px) {
  
  .headContainer {
    display: flex;
    flex-direction: column;}
  
  .navContain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FBFBFB;
    justify-content: center;
  }
  
  .Logo {
    margin-top: 0px;
    margin-bottom: 15px;
    width: 150px;
  }
  
  .midHeader {
    margin-top: -20px;
    width: 100%;
  }
  
  .navBar {
    text-align: center;
    margin-bottom: 18px;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
  }

  .navBar a{
    margin-bottom: -41px;
  }
  
  .right {
    display: flex;
    background-image: none;
    
  }
  
  .nav {
    justify-content: center;
  }
  
  .jumbotron {
   background-color: #50505086;
  }

  .lead{
    text-align: center;
  }

  .display-3{
    text-align: center;
  }
  
  .SVGs {
    width: 9%;
    margin-bottom: -30px;
  }
  
  .Slider {
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    font-family: 'Playfair Display', serif;
  }

  .pointers{
    display:none;
  }
  
  .projectTitle {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  
  .card {
    align-content: center;
    max-width: 340px;
    height: 450px;
    box-shadow: 2px black;
  }
  
  .card-image {
    align-items: center;
  }
  
  .btnProject {
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
  }
  
  .partTwo {
    background-image: url('./img/SPIRAL.PNG.png');
    background-repeat: repeat-x;
    background-position: center;
    background-position-y: center;
    height: 93vh;
    margin-bottom: 10px;

  }
  
  .btns {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    align-self: center;
    
  }
  
  .btnProject{
    text-decoration: none;
    color: blue;
    font-style: bold;
    margin-top: 15px;
  }
  
  button.rec-dot{
    background-color: rgb(71, 71, 71);
    box-shadow: 0 0 1px 3px  hsla(0, 0%, 82%, 0.438);
    margin-top: 5px;
    margin-bottom: 50px;
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 .5px .5px rgba(97, 97, 97, 0.5);
  }
  
  .part3Container {
    background-image: none;
    display: flex;
    height: 100%;
    margin-bottom: 10px;;
  }
  
  
  .cardAbout {
    border-radius: 0px;
    max-width: 100%;
    max-height: 120%;
    margin-left: 0;
    padding:0;
    border:none;
    vertical-align: middle;
  }
  
  .gitButton {
    background-color: rgb(223, 223, 223);
    border: none;
    outline: none;
    border-radius: 6px;
    transition: 0.3s;
    display: none;
  }
  
  .gitButton:hover {
    background-color: rgba(128, 128, 128, 0.493);
  }
  
  .list_unstyled {
    text-decoration: none;
    display: flex;
    flex-direction: row;

  }
  .footer{
    font-family: 'Playfair Display', serif;

  
  }

  .title {
    font-size: 22px;
  
  }

  .titleContainer{
    text-align: -webkit-center;
  }

  .divider{
    background-color: rgb(192, 192, 192);
    width: 50%;
    height: 2px;
  }

  .footerLinks {
    width: 8%;
    margin: 10px;
  }

}